<div class="full-navigation-wrapper" id="full-navigation-wrapper">
    <div class="full-navigation-overlay"></div>
    <div class="full-navigation-content">
        <ul>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_utilities.home') }}">Home</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_sensei.sensei_all') }}">All Sensei</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_utilities.careers') }}">Careers</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_user.profile') }}">Profile</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_user.settings') }}">Setting</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_utilities.help') }}">Help</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('blueprint_user.logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</div>