{% extends 'layout/layout.htm' %}

{% block title %}
Home
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/utilities/trending-skills.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/utilities/trending-subjects.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/utilities/search-container.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/extras/flipdown.css') }}">
<style>
    body {
        padding: 0;
    }
</style>
{% endblock %}

{% block head_scripts %}
<script src="{{ url_for('static', filename='javascript/extras/flipdown.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid home-jumbotron-wrapper">
    <div class="jumbotron-gradient">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% include 'utilities/search-container/search-container.htm' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main-section-wrapper" id="main">
    <div class="container">
        {% include 'utilities/trending-skill/trending-skill.htm' %}

        {% include 'utilities/trending-subject/trending-subject.htm' %}

        <div class="row" style="background-color: var(--color-shadow);padding: 24px;">
            <div class="col">
                <div class="row">
                    {% for stat in res["stats"] %}
                    <div class="col-sm" style="text-align: center;">
                        <h4>{{ stat[0] }}</h4>
                        <h3><b>{{ stat[1] }}</b></h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'utilities/offer-of-day/offer-of-day.htm' %}

{% endblock %}