{% from "utilities/trending-subject/trending-subject-card.htm" import trending_subject_card with context %}
{% from "utilities/heading-with-show/heading-with-show.htm" import heading_with_show with context %}

<div class="trending-subjects-wrapper">
    {{ heading_with_show("Trending Subjects","#") }}
    <div class="row">
        <div class="col div-horizontal-scrolling">
            {% for i in range(10) %}
            {{ trending_subject_card() }}
            {% endfor %}
        </div>
    </div>
</div>