{% from "utilities/trending-skill/trending-skill-card.htm" import trending_skill_card with context %}
{% from "utilities/heading-with-show/heading-with-show.htm" import heading_with_show with context %}

<div class="trending-skills-wrapper">
    {{ heading_with_show("Trending Skills","#") }}
    <div class="row">
        <div class="col div-horizontal-scrolling">
            {% for i in range(10) %}
            {{ trending_skill_card("","HTML,CSS,JS","Web Development","") }}
            {% endfor %}
        </div>
    </div>
</div>