{% extends 'layout/layout.htm' %}
{% block title %}
Login
{% endblock %}

{% block head_scripts %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block top_navigation %} {% endblock %}

{% block content %}

<div
    style="width: 100%;height: 50vh;background-color: var(--color-accent);position: fixed;z-index: -1;bottom: 0;left: 0;box-shadow: 0 -4px 8px var(--color-shadow);">

</div>

<div class="container-fluid">
    <div class="container">
        <div class="row  mt-4 mb-4 ">
            <div class="col-auto" style="text-align: center;margin-left: auto;margin-right: auto;">
                <div class="custom-card">
                    <div class="custom-card-body" style="text-align: left;margin: 12px;">
                        <div class="alert alert-danger alert-dismissible fade show"
                            style="text-align: left;display: none;" id="error-dialog">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span id="error-message"></span>
                        </div>

                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h3><b>Hi User !!</b></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- <h5>Hi Foodie !!</h5> -->
                                <h6>Enter the Username and Password to order your food</h6>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="login-user-email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="login-user-password1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button class="btn custom-btn-primary" onclick="submitData()">
                                        Login <div class="spinner-border spinner-border-sm" id="progress-spinner"
                                            style="display: none;"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="center-align"
                                    style="background: var(--color-card);border-radius:50%;padding:12px;">OR</span>
                                <hr>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <button class="btn custom-btn-outline">
                                    <i class="bi bi-google" style="font-size:x-large;"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn custom-btn-outline">
                                    <i class="bi bi-apple" style="font-size:x-large;"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn custom-btn-outline">
                                    <i class="bi bi-facebook" style="font-size:x-large;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <span>Don't have an account ? <b><a href="{{ url_for('blueprint_user.signup') }}">SIGN
                                            UP</a></b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script>
    let input_email = document.getElementById("login-user-email");
    let input_pwd1 = document.getElementById("login-user-password1");

    let progress_spinner = document.getElementById("progress-spinner");

    const STATE = {
        SHOW: true,
        HIDE: false
    }

    function submitData() {
        let isFormValid = checkForm();

        if (!isFormValid) {
            return;
        }

        setProgressState(STATE.SHOW);

        let createDataToPush = function () {
            let data = {
                email: input_email.value,
                password: input_pwd1.value,
            }

            pushData(data);
        };

        let pushData = function (data) {
            $.ajax(
                {
                    url: "/user/login",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: (response) => {
                        console.log(response);
                        setProgressState(STATE.HIDE);
                        if (response.status == 200) {
                            window.location = "/";
                        }
                        else if (response.status == 401) {
                            document.getElementById("error-message").innerHTML = response.message;
                            document.getElementById("error-dialog").style.display = "block";
                        }
                    },
                    error: (error) => {
                        setProgressState(STATE.HIDE);
                    }
                }
            )
        }

        createDataToPush();
    }

    function checkForm() {
        let value_email = input_email.value;
        let value_password1 = input_pwd1.value;

        if (value_email == "") {
            input_email.focus();
            return false;
        }

        if (value_password1 == "") {
            input_pwd1.focus();
            return false;
        }

        return true;
    }

    function setProgressState(state) {
        if (STATE.SHOW)
            progress_spinner.style.display = 'inline-block';
        else (STATE.HIDE)
        progress_spinner.style.display = 'none';
    }

</script>
{% endblock %}


{% block footer %} {% endblock %}