.trending-skills-wrapper {
    margin-top: var(--padding-extra-large);
    margin-bottom: var(--padding-extra-large);
}

.skill-wrapper {
    min-width: 300px;
    width: 20vw;
    display: inline-block;
    margin-right: var(--padding-extra-large);
}

.skill-wrapper .skill-image {
    width: inherit;
    border-radius: 8px;
}

.skill-wrapper .skill-heading {
    font-weight: 700;
    font-size: x-large;
    color: var(--color-secondary);
}

.skill-wrapper .skill-category {
    font-weight: 700;
    color: var(--color-secondary);
    font-size: large;
}

.skill-wrapper .skill-shop {
    font-weight: 700;
    color: var(--color-secondary);
    font-size: small;
}

.skill-wrapper .skill-rating {
    color: var(--color-accent);
}

.skill-wrapper .skill-fav {
    position: absolute;
    right: var(--padding-extra-large);
    top: var(--padding-extra-large);
    color: var(--color-favourite);
    font-size: 24px;
    background: var(--color-primary);
    border-radius: 50%;
    padding: var(--padding-medium);
}

.skill-wrapper .skill-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(transparent, black);
}