{% macro notification_card() %}
<div class="row">
    <div class="col">
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="row" style="font-size: small;font-weight:600;">
                    <div class="col">14th Sept 2022</div>
                    <div class="col-auto">12:23 AM</div>
                </div>
                <div class="notification-type">
                    <h6>Alert</h6>
                </div>
                <div class="notification-content">
                    New Teacher Found
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}