{% macro notification_card() %}
<div class="row" style="margin-bottom: 6px;">
    <div class="col">
        <div class="card notification-card-hover">
            <div class="card-body">
                <div class="row" style="font-size: small;font-weight:600;">
                    <div class="col">14th Sept 2022</div>
                    <div class="col-auto">12:23 AM</div>
                </div>
                <div class="notification-type">
                    <h6>Alert</h6>
                </div>
                <div class="notification-content"
                    style="color: var(--color-secondary);font-weight:500;font-size:medium">
                    New Teacher Found
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}