{% from "utilities/sensei-card-container/sensei-card-container.htm" import sensei_card_container with context %}

{% extends 'layout/layout.htm' %}

{% block title %}
All Sensei
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/utilities/search-container.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            {% include 'utilities/search-container/search-container.htm' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            {% for i in range(10) %}
            {{ sensei_card_container() }}
            {% endfor %}
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col">
                    <div class="custom-card" style="max-height: 50vh;overflow-y: auto;">
                        <div class="custom-card-body">
                            <h5><b>Locations</b></h5>
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <a href="#">Online</a>
                                    </div>
                                    {% for country in res["countries"] %}
                                    <div>
                                        <a href="#">{{ country }}</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}