<nav class="custom-top-navigation">
    <a class="custom-navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/app-icon.png') }}" style="height: 38px;"> <span
            id="top-navigation-app-name">{{ res["app-name"] }}</span>
    </a>

    <span class="custom-navbar-menu-icon"><i class="bi bi-list" id="navigation-hamburger-icon"
            onclick="toggleFullScreenMenu()"></i></span>

    <ul class="custom-navbar-content ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Menu</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('careers') }}">Careers</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Navdeep Sharma
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('blueprint_user.profile') }}">Profile</a>
                <a class="dropdown-item" href="{{ url_for('blueprint_user.settings') }}">Setting</a>
                <a class="dropdown-item" href="{{ url_for('help') }}">Help</a>
                <a class="dropdown-item" href="{{ url_for('blueprint_user.logout') }}">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<script>
    function toggleFullScreenMenu() {
        if (document.getElementById("full-navigation-wrapper").style.left == "0px") {
            document.getElementById("full-navigation-wrapper").style.left = "-110%";
            document.querySelector("body").style.overflow = "auto";
        }
        else {
            document.getElementById("full-navigation-wrapper").style.left = "0px";
            document.querySelector("body").style.overflow = "hidden";
        }
    }
</script>