<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ url_for('home') }}"><img
            src="{{ url_for('static', filename='images/app-icon.png') }}" style="height: 38px;"> <span
            id="top-navigation-app-name"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: var(--color-primary);font-size: 24px;"><i
                class="bi bi-list"></i></span>
    </button>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Menu</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('careers') }}">Careers</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{{ url_for('login') }}" class="btn custom-btn-outline">LOGIN</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Navdeep Sharma
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
                <a class="dropdown-item" href="{{ url_for('settings') }}">Setting</a>
                <a class="dropdown-item" href="{{ url_for('help') }}">Help</a>
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </li>
    </ul>

</nav>


<script>
    document.getElementById("top-navigation-app-name").innerHTML = CONSTANTS.APP_NAME.FULL_NAME;
</script>