<div class="dropdown-menu notification-wrapper" aria-labelledby="navbarDropdownNotification">
    <div class="row"
        style="position: sticky;top:0;background-color: var(--color-accent);z-index: 99;padding: 12px;box-shadow: 0 2px 4px 0 var(--color-shdaow);color: var(--color-primary);">
        <div class="col-auto">
            <i class="bi bi-bell-fill"
                style="font-size: large;position: absolute;top: 50%;transform: translateY(-50%);"></i>
        </div>
        <div class="col">
            Messages
        </div>
    </div>
    <div class="row" style="padding: 12px;">
        <div class="col">
            {% for i in range(10) %}
            {{ notification_card() }}
            {% endfor %}
        </div>
    </div>
</div>